@import url(https://fonts.googleapis.com/css?family=Lato);

@keyframes font-fade {
  50% {
    color: transparent
  }
  100% {
    color: "inherit"
  }
}

%font-family {
  font-family: Lato;
}

%post-relative {
  position: relative;
}

%box-sizing {
  box-sizing: border-box;
  outline: 0;
}

%translate0 {
  transform: translate3d(0,0,0);
}

%cursor {
  margin: 12px 6px;
  cursor: pointer;
  float: none;
}

.chat {
  @extend %post-relative;
  @extend %box-sizing;
  background: 0 0;
  overflow: hidden;
  width: 100vw;
  margin: 0 auto;
  max-width: 768px;
  * {
    @extend %box-sizing;
  }
  &__bubble {
    @extend %cursor;
    @extend %post-relative;
    @extend %font-family;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    transform: translate3d(-96px,0,0);
    transition: transform .75s cubic-bezier(.68,.01,.245,1.13) .3s,color .3s ease-in-out .25s,min-width .35s ease-in-out,min-height .35s ease-in-out;
    display: inline-block;
    line-height: 1.45em;
    border-radius: 20px;
    margin: 0 0 1em;
    text-align: left;
    padding: 6px 12px;
    background: #fff;
    color: #434343;
    font-size: 19px;
    border: none;
    max-width: 90%;
    min-width: 44px;
    min-height: 12px;
    &--response {
      @extend %font-family;
      @extend %translate0;
      transition: transform .5s cubic-bezier(.68,.01,.245,1.13) 0s;
      background: #4A90E2;
      float: right;
      color: #fff;
    }
    &--slideIn {
      @extend %translate0;
    }
    &--fade {
      animation: font-fade .6s ease-in-out;
    }
    &--typing {
      color: transparent;
      max-height: calc(1em + 16px);
      max-width: 44px;
      white-space: none;
      &:before {
        content: '...';
        color: #000;
      }
    }
    &--embed {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 25px;
      height: 0;
      width: 100%;
      overflow: hidden;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%
      }
    }
  }
  &__list {
    list-style: none;
    padding: 0;
    margin: 0 0 148px;
    &__item {
      padding: 0 1em;
      margin: 0;
      overflow: hidden;
    }
  }
  &__responses {
    @extend %cursor;
    position: absolute;
    text-align: center;
    padding: 6px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
  }
  &__answers {
    &__placeholder {
      &:before {
        content: 'Type and hit RETURN...';
        display: inline-block;
        opacity: .5;
      }
    }
  }
}

.cardousel {
  max-height: 220px;
  overflow: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin: 4px -12px 0 -2px;
  .card {
    text-overflow: ellipsis;
    border: 1px solid #eee;
    display: inline-block;
    white-space: nowrap;
    border-radius: 3px;
    margin-right: 8px;
    overflow: hidden;
    padding: 6px;
    width: 248px;
  }
}
