<template lang="pug">
  .illusion
    .intro(v-if="!start")
      p Lorem
      button(@click="start=!start") start
    .start(v-if="start",@click="next")
      ul
        li(v-for="chat in chats")
          ChatNaration(v-if="chat.text" ,:chat="chat")
          ChatQuestion(v-if="chat.type=='question'" ,:chat="chat", @disable="disabling", @update="updating")

</template>

<script>
import chat from '@/lib/chat'
import ChatNaration from '@/components/ChatNaration'
import ChatQuestion from '@/components/ChatQuestion'

export default {
  name: 'IllusionChat',
  data () {
    return {
      state: 'started',
      index: 0,
      disabled: false,
      chatData: chat,
      start: false,
      chats: []
    }
  },
  computed: {
    existChat () {
      if (this.chatData[this.state].length === this.index) {
        return true
      }
      return false
    }
  },
  methods: {
    next () {
      if (this.disabled || this.existChat) return
      this.chats.push(
        this.chatData[this.state][this.index]
      )
      this.index = this.index + 1
    },
    disabling ($key = true) {
      this.disabled = $key
    },
    updating ($key) {
      this.state = $key.name
      this.index = 0
      this.disabled = false
    }
  },
  components: {
    ChatNaration,
    ChatQuestion
  }
}
</script>

<style lang="scss">

</style>
