<template lang="pug">
  .bubble
    p.name {{ chat.name }}
    p
      template(v-if="show")
        span.text(v-html="chat.text",v-if="chat.type!='image'")
        span.text(v-if="chat.type=='image'")
          img(:src="chat.text")
      template(v-else)
        span.loading .
        span.loading .
        span.loading .
</template>

<script>
export default {
  name: 'ChatNaration',
  props: {
    chat: Object
  },
  data () {
    return {
      text: '',
      show: false
    }
  },
  mounted () {
    setTimeout(() => {
      this.show = true
    }, 2000)
  }
}
</script>

<style lang="scss" scoped>
@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

p .loading {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;

  &:nth-child(2) {
    animation-delay: .2s;
  }


  &:nth-child(3) {
    animation-delay: .4s;
  }
}
</style>
