<template lang="pug">
  .question
    p {{ answer }}
    .answer(v-if="!answer")
      template(v-for="answer in chat.answer")
        button(@click="answering(answer)") {{ answer.text }}
</template>

<script>
export default {
  name: 'ChatQuestion',
  props: {
    chat: Object
  },
  data () {
    return {
      answer: ''
    }
  },
  methods: {
    answering ($answer) {
      this.answer = $answer.text
      this.$emit('update', $answer)
    }
  },
  mounted () {
    this.$emit('disable')
  }
}
</script>

<style lang="scss" scoped>

</style>
